<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/fondo_abeja"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.HoneyOnix"
        tools:targetApi="31">
        <activity
            android:name=".RegitroAdminActivity"
            android:exported="false" />
        <activity
            android:name=".RollActivity"
            android:exported="false" />
        <activity
            android:name=".LoginAdmibActivity"
            android:exported="false" />
        <activity
            android:name=".CambioPassActivity"
            android:exported="false" />
        <activity
            android:name=".PagoActivity"
            android:exported="false" />
        <activity
            android:name=".RegistarProductoActivity"
            android:exported="false" />
        <activity
            android:name=".PerfilAdminActivity"
            android:exported="false" />
        <activity
            android:name=".CatalogoActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".CarritoActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".InicioActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>